body{

    /* background-color: black;
    background-image: url('imgg.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
} */
 background: url('imgg.jpg') repeat-x top right;
 background-size: cover;
